<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://prayer.theagapefoundation.org">
  <meta property="og:title" content="Prayer">
  <meta property="og:image" content="https://storage.googleapis.com/crosswand.com/jesus.png">
  <meta property="og:description" content="Spread the love of Jesus Christ">
  <meta property="og:site_name" content="Prayer">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="https://crosswand.com/_app/immutable/assets/icon.b05f7882.png">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
    p {
      font-family: 'Young Serif', serif;
    }
    button {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
  <title>Prayer</title>
</head>
<body class="bg-black">
  <div class="d-flex flex-column vw-100 vh-100 justify-content-center align-items-center pb-5">
    <div class="vw-50 max-vw-70 d-flex flex-column align-items-center px-5">
      <img src="https://crosswand.com/_app/immutable/assets/icon.b05f7882.png" width="100" height="100" />
      <p class="text-center text-white mt-3">A new command I give you: Love one another. As I have loved you, so you must love one another. By this everyone will know that you are my disciples, if you love one another.</p>
      <p class="text-center text-secondary">John 13:34 - 35 (NIV)</p>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <a href="https://apps.apple.com/app/id6471775802" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/640px-Download_on_the_App_Store_Badge.svg.png" height="53" />
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.crosswand.prayer" target="_blank">
        <img src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" height="80" />
      </a>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>